{% extends 'base.html' %}

{% block content %}
<form method="post"  class="">
    {% csrf_token %}
    <div class="form-group">
        {{ form.as_p}}
        <div>
            <button type="submit" class="btn btn-primary">Signin</button>
        </div>
    </div>
</form>

{% endblock %}