*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../images/fondo_task.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}
.navbar-light{
    background-color: rgba(255,255,255,.4);
}
#form-login{
    background-color: rgba(255,255,255,0.3);
}
small.text-muted{
    color: #000 !important;
}
