.card {
  width: 259px;
  height: 14rem;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background: rgba(0, 188, 212, 0.5);
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
  -webkit-transition-property: width, height, -webkit-transform;
  transition-property: width, height, -webkit-transform;
  transition-property: width, height, transform;
  transition-property: width, height, transform, -webkit-transform;
}

.card:hover {
  width: 15rem;
  height: 284px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  /* -ms-transform:rotate(90deg);
  -webkit-transform:rotate(90deg); */
}

.card__content {
  padding: 1rem;
  font-size: smaller;
}

.card__date {
  color: white;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.card__info {
  width: 100%;
  height: 200px;
  padding: 0.7rem;
  font-size: smaller;
  border-radius: 1rem;
  text-align: center;
  background-color: rgba(250, 250, 250, 0.8);
  color: rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: color;
  transition-property: color;
}

.card__info:hover {
  color: #212121;
}

.gallery {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}
.task {
  grid-column: span 2;
}
