{% extends 'base.html' %}
{% block title %} {{user.username|capfirst}} {% endblock %} 
{% load static %}
{% block content%}
{% include 'consumer/navbar.html' %}
<div class="container">
    <h1 class="text-center mt-3 mb-5">Welcome {{user.username}}</h1>
</div>
{% if tasks %}
<div id="task"></div>
<div class="gallery ms-5">
    {% for task in tasks %}
    <article class="card mx-auto">
        <div class="card__content">
            <div class="card__date"> {{task.end_date}}
            </div>
            <div class="card__info d-grid" style="place-items: center;">
                <h3>{{task.title}}</h3>
                <a href="{% url 'users:detail_task' task.id %}" class="btn btn-success">Show all</a>
                <div>
                    <a href="{% url 'users:update_task' task.id %}" class="btn btn-info">Update</a>
                    <a href="{% url 'users:delete_task' task.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </article>
    {% endfor %}
</div>
{% else %}
<h3 class="text-center mb-5">Sample Tasks</h3>
<div class="gallery ms-5">
    {% for task in scrapp %}
    <article class="card mx-auto">
        <div class="card__content">
            <div class="card__date"> 2022-04-30
            </div>
            <div class="card__info d-grid" style="place-items: center;">
                <h3>{{task.title}}</h3>
            </div>
        </div>
    </article>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
{% block js %}
    <script>
        function logout(e) {
            var logout = confirm("Are you sure you want to continue?");
            console.log(logout)
            if (logout) {
                return true;
            } else {
                e.preventDefault();
                return false;
            }
        }
        document.querySelectorAll('.btn-danger').forEach((el) => {
            el.addEventListener('click', logout)
        });
    </script>
{% endblock %}