{% extends 'base.html' %}

{% block content%}
{% include 'consumer/navbar.html' %}
<a href="{% url 'users:detail_user' user.id %}" class="btn btn-danger">Back</a>
<article class="card mx-auto mt-5" style="height:400px; width:400px">
        <div class="card__content">
            <div class="card__date"> {{task.end_date}}
            </div>
            <div class="card__info d-grid" style="place-items: center; height: 400px">
                <h1>{{task.title}}</h1>
                <h4>{{task.description}}</h4>
                <div class="d-flex justify-content-center">
                    <a href="{% url 'users:update_task' task.id %}" class="btn btn-info">Update</a>
                    <a href="{% url 'users:delete_task' task.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </article>

{% endblock %}