{% extends 'base.html' %}

{% block title %} Login {% endblock %}


{% block content %}
    <div class="container mt-5 mb-4 p-5 rounded-3 width_custom col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6 col-xxl-6" id="form-login">
        <h1 class="text-center">Welcome new user</h1>
        {% load crispy_forms_tags %}
        <form action="{% url 'users:register' %}" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-success w-25 mt-4">Register</button>
                <a href="{% url 'users:login' %}"class="btn btn-primary w-25 mt-4">Login</a>
            </div>
        </form>
    </div>
{% endblock %}